<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Barra de Progreso
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentaje1" [attr.ariaValuemin]="porcentajeMin" [attr.ariaValueMax]="porcentajeMax" [style.width]="porcentaje1 + '%'">
                        {{porcentaje1 + '%'}}
                    </div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [attr.ariaValuenow]="porcentaje2" [attr.ariaValuemin]="porcentajeMin" [attr.ariaValueMax]="porcentajeMax" [style.width]="porcentaje2 + '%'">
                        {{porcentaje2 + '%'}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- progress bar -->
                <app-incrementador (cambioValor)="porcentaje1 = $event" nombre="Progress Azul" [porcentaje]="porcentaje1" [porcentajeMax]="100" [porcentajeMin]="0"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- progress bar -->
                <app-incrementador (cambioValor)="porcentaje2 = $event" nombre="Progress Rojo" [porcentaje]="porcentaje2" [porcentajeMax]="100" [porcentajeMin]="0"></app-incrementador>

            </div>
        </div>
    </div>
</div>