<div class="row">
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header bg-inverse">
        <h4 class="m-b-0 text-white">Crear Productos</h4>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="guardar( f.value )">
          <div class="form-body">

            <hr>
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Nombre Producto</label>
                  <input [(ngModel)]="productos.nombre"  name="nombre" type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Codigo Producto</label>
                  <input type="text" [(ngModel)]="productos.codigo" name="codigo"  class="form-control" placeholder="Codigo ">
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Precio Producto</label>
                  <input type="number"  [(ngModel)]="productos.precio" name="precio" class="form-control" placeholder="Precio ">
                </div>
              </div> 
              <!--/span-->
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Cantidad Producto</label>
                  <input type="number" [(ngModel)]="productos.cantidad" name="cantidad" class="form-control" placeholder="Cantidad ">
                </div>
              </div>  
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Categoria</label>
                  <select class="form-control custom-select" [(ngModel)]="productos.categoria" name="categoria" > 
                    <option value="">Seleccione Categoria</option>
                    <option *ngFor="let item of categoria" [value]="item.id">{{item.categoria}}</option> 
                  </select>
                </div>
              </div>  
              <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Estado</label>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input   name="estado" [(ngModel)]="productos.estado" type="radio" checked class="custom-control-input" value="1">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Activo</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input   name="estado" [(ngModel)]="productos.estado" type="radio" class="custom-control-input"  value ="0">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Inactivo</span>
                    </label>
                  </div>
                </div>
              </div> 
              <!--/span-->
            </div>
            <!--/row-->
            <!--/span-->
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label">Descripción del Producto</label>
                <textarea class="form-control" [(ngModel)]="productos.descripcion" name="descripcion">

                </textarea>
              </div>  
            </div>

            <div class="alert alert-danger" *ngIf="!error">
                {{mensaje_error}}
          </div>
          <div class="alert alert-success" *ngIf="exito">
              {{mensaje_exito}}
        </div>

          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-success btn-block" [disabled]="exito"> <i class="fa fa-check"></i> Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
</div>