<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">{{name}}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()"><i class="fa fa-user" aria-hidden="true"></i>Mi Perfil </a></li>
                        <li>
                            <a routerLinkActive="active" routerLink="/Account-Settings">
                                <i class="fa fa-cogs"></i> Configuración </a>
                        </li>
                        <li>
                            <a routerLink="/Session" (click)="salir()">
                                <i class="fa fa-long-arrow-left"></i> Salir
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <!-- Menu dinamico -->

                <li *ngFor="let item of _SidebarService.menu"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i [class]="item.icono"></i><span class="hide-menu">{{item.titulo}} <span class="label label-rouded label-themecolor pull-right">{{item.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of item.submenu">
                            <a [routerLink]="[ submenu.url ]" routerLinkActive="active">
                                <i [class]="submenu.icono"></i> {{submenu.titulo}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>